<div class="todo-content">
  <h1 class="page-title">List of Events</h1>
 


<div class="container">
    <ul class="todo-list">
    
        <li *ngFor="let todo of todos" [class.completed]="todo.completed === true">
          <div class="todo-row" *ngIf="!editing || editingTodo.id != todo.id">
            <a class="todo-completed" (click)="toggleCompleted(todo)">
              <i class="material-icons toggle-completed-checkbox"></i>
            </a>
            
            <span class="todo-title">
              title: {{todo.title}}
            </span>
            <br>
            <span class="todo-eventDate">
                eventDate: {{todo.eventDate | date:"yyyy-MM-dd HH:mm:ss"}}
            </span>
            <br> 
            <span class="todo-price">
                price: {{todo.price}}
            </span>
            <br>
            <span class="todo-description">
                description: {{todo.description}}
            </span>
            <br>
            <span class="todo-address">
                address: {{todo.address}}, {{todo.city}}, {{todo.state}}, {{todo.zipCode}}
            </span>
    
            <br>
            <span class="todo-address">
                createdAt: {{todo.createdAt | date:'medium'}}
            </span>
    
            <span class="todo-actions">
              <a (click)="editTodo(todo)">
                <i class="material-icons edit">edit</i>
              </a>
              <a (click)="deleteTodo(todo.id)">
                <i class="material-icons delete">clear</i>
              </a>
            </span>
          </div>
    
          <div class="todo-edit" *ngIf="editing && editingTodo.id === todo.id">
            <input class="form-control" type="text" [(ngModel)]="editingTodo.title" required>
            <span class="edit-actions">
              <a (click)="updateTodo(editingTodo)">
                <i class="material-icons">done</i>
              </a>
              <a (click)="clearEditing()">
                <i class="material-icons">clear</i>
              </a>
            </span>
          </div>
    
    
        </li>
      </ul>
      <div class="no-todos" *ngIf="todos && todos.length == 0">
        <p>No Ticket Found!</p>
      </div>
    </div>
</div>

